@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {/*sayfadaki her şey demektir.(*)*/
  font-family: "Poppins", sans-serif;
  text-decoration: none;/*Varsayılan olarak linklerin alt çizgisini kaldırır.*/
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;/*menüden bir şey seçince kayarak gitmesini sağlar.*/
}

body {
  background-color: #000;
  color: #fff;
}

section {
  padding: 3.5rem 7%;
}

.btn {
  margin-top: 2rem;/*buton üstü mesafe.*/
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #000;
  background: #d4af37;
  border-radius: 0.5rem;/*kenar yuvarlatma*/
  border: none;
}

.heading {/*başlık özellikleri*/
  text-align: left;/*başlığı sola hizalar.*/ 
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 3rem;
  letter-spacing: 0.1rem;
}

.menu .heading {/*menu sınıfına sahip bir alanın içindeki heading*/
  text-align: center;/*tek farkı ortada olması.*/
}

.header {
  background-color: #fff;
  display: flex;/*içindeki logo ve linkleri yan yana dizmek için kullanılır.*/
  justify-content: space-between;/*logoyu en sola, linkleri en sağa atar.*/
  align-items: center;/*içindekileri dikey olarak ortalar.*/
  padding: 1rem 4%; 
  margin: 2rem 4%; 
  border-radius: 30rem; 
  position: sticky;/*menü sayfayla beraber kaybolmasın sabit olarak dursun.*/
  top: 2rem;/*yukarıdan 20px boşluk bırakarak kalsın.*/
  z-index: 1000;/*katman sırası(1000 rastgele büyük sayı)*/
}

.header .logo img {
  height: 6rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #000;
  font-weight: 500;/*yazı kalınlığı*/
}

.dropdown {
  position: relative;/*Açılır menünün (dropdown-content) tam kendi altında doğru şekilde hizalanmasını sağlar.*/
  display: inline-block;
}

.dropdown-content {
  display: none;/*başta gizli*/
  position: absolute;
  background-color: #fff;
  min-width: 16rem;
  z-index: 1;
  border-radius: .5rem;
  top: 100%;/*Dropdown içeriğini butonun tamamen altına yerleştir.*/
}

.dropdown-content a {
  color: #000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;/*Linklerdeki alt çizgiyi kaldırır.*/
  display: block;/*Linkleri satır gibi değil kutu gibi yapar,üzerine gelince tamamı tıklanabilir olur.*/
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;/*Normalde gizli olan alt menü (display: none) görünür hâle gelir.*/
}

.Anasayfa {
  min-height: 100vh;/*vh=viewport height*/
  background: url(../images/anasayfa.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Anasayfa .content h1 {
  font-size: 6rem;
  color: #fff;
  text-shadow: 2px 2px 5px #000; 
}

.Anasayfa .content p {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}

.category-title {
  font-size: 2.5rem;
  color: #d4af37;
  margin: 3rem 0 2rem 0;
  border-bottom: 1px solid #333;
  padding-bottom: 1rem;
  text-align: center;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);/*sabit 3 kutu ayarı(responsive değil)*/
  gap: 2rem;/*resimler arası boşluk*/
}

.box {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.box .image-area img {
  width: 100%;
  height: 20rem;
  object-fit: cover;/*Resmi kutuya sığdırırken yamultmadan düzgün gösterir.*/
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.box .info h3 {
  font-size: 2rem;
  color: #000;
  margin: 1rem 0;
}

.box .info p {
  font-size: 1.4rem;
  color: #666;
}

.box .price {
  font-size: 2rem;
  color: #d4af37;
  font-weight: bold;
  margin-top: 1rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));/*resimler an az 25rem,ama daha fazla yer varsa eşit bölünebilir(1fr),auto-fit:kaç tane sığarsa o kadar yan yana gelebilir.*/
    gap: 1.5rem;/*resimler arası boşluk*/
}

.gallery-item img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: 1rem;
}

.about .row {
  display: flex;/*Resim ve yazıyı yan yana getirir.*/
  gap: 3rem;
  align-items: center;
}

.about .row .image, .about .row .content {
  flex: 1 1 40rem;
}
.about .row .image img {
  width: 100%;
  border-radius: 1rem;
}

.about .row .content h3 {
  font-size: 3rem; 
  color: #d4af37;
  margin-bottom: 1.5rem;
  text-align: left; 
}

.about .row .content p {
  font-size: 1.8rem; 
  margin: 1rem 0;
  color: #ccc;
  line-height: 1.6;
}

.reservation form {
  max-width: 50rem;
  margin: 0;
  display: flex;
  flex-direction: column;/*Yan yana değil, alt alta diz. (Label üstte, input altta olsun).*/
  gap: 1.5rem;
}

.reservation form label {
  font-size: 1.8rem; 
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: left;
}

.reservation form input {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 1.6rem;
  border: none;
}

.contact .row {
  display: flex;
  gap: 2rem;
  background: #111;
  padding: 2rem;
}

.contact .map, .contact .contact-info {
  flex: 1 1 40rem;
}

.contact .map iframe {
  width: 100%;
  height: 30rem;
}

.contact .contact-info h3 {
  font-size: 2.5rem;
  color: #d4af37;
  margin-bottom: 1rem;
  text-align: left;
}

.contact .contact-info p {
  font-size: 1.8rem;
  color: #eee;
  margin-bottom: 1rem;
  text-align: left;
}

.footer {
    background: #111;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    border-top: 1px solid #333;/*üstüne gri çizgi*/
}

.footer .credit {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 1rem;
}

.footer .credit span {
    color: #d4af37;
    font-weight: bold;
}

.footer .share a {
    font-size: 2.2rem;
    color: #fff;
    margin: 0 1rem;
}

.modal-gallery {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 3rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);/*Siyah renk ama %95 opak*/
    /* Resmi ortalamak için */
    display: flex; 
    align-items: center;
    justify-content: center;
    display: none; 
}



.modal-gallery-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
}
